.khan__buy-link {
  top: 50%;
  bottom: 50%;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  z-index: 1;
  color: #2f80ed;
}

.khan__buy-link:hover {
  transition: color 2s linear 0.5s;
  opacity: .5;
}
